{% extends "index.html" %}

{% block content %}

      <form class="section-features js--section-features" action="/predict_multilinear#resultmultilinear" method="post" id="multilinear">

        <div class="row">
          <h2>Enter The Values Collected &mdash; See Example:</h2>

          <h3>Example:</h3>
          <p class="long-copy">
            0.012535382 0.012545528 0.001878816 0 0.002382844 0 0.012581169 0.012673753 0 0.007739082 0.01516428  0.012612613 0 0 0 0 0 0 0.526296854 0.309693114 0.012535382
          </p>

          <div class="">
            <textarea class="form-control" rows="5" id="space" name="space">None</textarea>
          </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Scan">
        </div>
          </div>
        </div>
      </form>



{% endblock %}
